# GITHUB_KEY =Github_Token
# GITHUB_REPO=yourName.github.com
# GITHUB_NAME=yourName
# GITHUB_USER=example name
# GITHUB_USER_EMAIL=example@example.com
# GITHUB_HOST=https://api.github.com
# GITHUB_BRANCH=branchname
# API_PORT=PORTNUMBER
# WEBSITE_URL=URLHERE
# INDIEAUTH_URL=https://tokens.indieauth.com/token
# SLACK_TOKEN=TOKENHERE
#MC_URL=https://YOUR MC URL/media
#TWITTER_USERNAME=USERNAME
#TIMEZONE=Pacific/Auckland
